<div class="col-12">
    <div class="card">
        <h5>Bienes Tecnológicos</h5>
        <div class="flex flex-wrap gap-2">
            <p-dropdown [options]="bloque" [(ngModel)]="selectedDropb" placeholder="Seleccione Bloque"
                [showClear]="true"></p-dropdown>
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Seleccione Area"
                [showClear]="true"></p-dropdown>
            <p-button label="Cargar" icon="pi pi-search" [loading]="loading[0]" (onClick)="load(0)"></p-button>
        </div>

    </div>
</div>


<div class="col-12">
    <div class="card">
        <p-toast></p-toast>
        <p-table [value]="tecnologicos" dataKey="name" [tableStyle]="{'min-width': '60rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5rem"></th>
                    <th pSortableColumn="nombre">NOMBRE<p-sortIcon field="nombre"></p-sortIcon></th>
                    <th>QR</th>
                    <th pSortableColumn="atributos">ATRIBUTOS <p-sortIcon field="atributos"></p-sortIcon></th>
                    <th pSortableColumn="marca">MARCA <p-sortIcon field="marca"></p-sortIcon></th>
                    <th pSortableColumn="modelo">MODELO <p-sortIcon field="modelo"></p-sortIcon></th>
                    <th pSortableColumn="numeroserie">N. SERIE <p-sortIcon field="numeroserie"></p-sortIcon></th>
                    <th pSortableColumn="fecha_adquisicion">FEC ADQUISICION <p-sortIcon
                            field="fecha_adquisicion"></p-sortIcon></th>
                    <th pSortableColumn="estado">ESTADO <p-sortIcon field="estado"></p-sortIcon></th>
                    <th pSortableColumn="codigouta">CODIGO UTA <p-sortIcon field="codigouta"></p-sortIcon></th>
                    <th pSortableColumn="localizacion">LOCALIZACION <p-sortIcon field="localizacion"></p-sortIcon></th>
                    <th pSortableColumn="ubicacion">UBICACION <p-sortIcon field="ubicacion"></p-sortIcon></th>
                    <th pSortableColumn="repotenciacion">Repotenciado <p-sortIcon field="repotenciacion"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.nombre}}</td>
                    <td><img [src]="'assets/demo/images/product/' + product.image" [alt]="product.nombre" width="100"
                            class="shadow-4" /></td>
                    <td>{{product.atributos}}</td>
                    <td>{{product.marca}}</td>
                    <td>{{product.modelo}}</td>
                    <td>{{product.numeroserie}}</td>
                    <td>{{product.fecha_adquisicion}}</td>
                    <td>{{product.estado}}</td>
                    <td>{{product.codigouta}}</td>
                    <td>{{product.localizacion}}</td>
                    <td>{{product.ubicacion}}</td>
                    <td><span
                            [class]="'product-badge status-' + product.repotenciacion.toLowerCase()">{{product.repotenciacion}}</span>
                    </td>
                    <td><p-button type="button" icon="pi pi-pen-to-square"></p-button></td>
                    <td><p-button type="button" icon="pi pi-trash"></p-button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="14">
                        <div class="p-3">
                            <p-table [value]="product.componentes" dataKey="id">
                                <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="nombre">NOMBRE <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="marca">MARCA <p-sortIcon field="marca"></p-sortIcon></th>
                    <th pSortableColumn="modelo">MODELO <p-sortIcon field="modelo"></p-sortIcon></th>
                    <th pSortableColumn="numeroserie">N. SERIE <p-sortIcon field="numeroserie"></p-sortIcon></th>
                    <th pSortableColumn="codigouta">CODIGO UTA <p-sortIcon field="codigouta"></p-sortIcon></th>
                    <th style="width: 3rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.nombre}}</td>
                    <td>{{order.marca}}</td>
                    <td>{{order.modelo}}</td>
                    <td>{{order.numeroserie}}
                    <td>{{order.codigouta}}</td>
                    <td><span [class]="'order-badge order-' + order.estado.toLowerCase()">{{order.estado}}</span></td>
                    <td><p-button type="button" icon="pi pi-pen-to-square"></p-button></td>
                    <td><p-button type="button" icon="pi pi-trash"></p-button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">Sin componentes</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
</div>
</div>